{{ form_start(form) }}
<div class="errors">
    {{ form_errors(form) }}
</div>
{% if message %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lastName) }}
    </div>

</div>
{{ form_row(form.email) }}
{{ form_row(form.phone) }}
{{ form_row(form.message) }}
{{ form_end(form) }}


