
<style type="text/css">

    .header {
        background: #8a8a8a;
    }

    .header .columns {
        padding-bottom: 0;
    }

    .header p {
        color: #fff;
        margin-bottom: 0;
    }

    .header .wrapper-inner {
        padding: 20px; /*controls the height of the header*/
    }

    .header .container {
        background: #8a8a8a;
    }

    .wrapper.secondary {
        background: #f3f3f3;
    }

</style>
<!-- move the above styles into your custom stylesheet -->


<wrapper class="header" bgcolor="#8a8a8a">
    <container>
        <row class="collapse">
            <columns small="6" valign="middle">
                <img src="http://placehold.it/200x50/663399">
            </columns>
            <columns small="6" valign="middle">
                <p class="text-right">NEW LEAD!</p>
            </columns>
        </row>
    </container>
</wrapper>

<container>

    <spacer size="16"></spacer>

    <row>
        <columns>

            <h1>Hi, {{ email.toName }}</h1>
            <p class="lead">You got a new lead!.</p>
            <p>From: {{ contact.full_name }}</p>
            <p>Email: {{ contact.email }}</p>
            <p>Phone: {{ contact.phone }}</p>
            <callout class="primary">
                <p class="lead">Here is the message:</p>
                <p>{{ contact.message }}</p>
            </callout>

        </columns>
    </row>

    <wrapper class="secondary">
        <spacer size="16"></spacer>
        <row>
            <columns small="12" large="6">
                <h5>Connect With Us:</h5>
                <menu class="vertical">
                    <item style="text-align: left;" href="#">Twitter</item>
                    <item style="text-align: left;" href="#">Facebook</item>
                </menu>
            </columns>
            <columns small="12" large="6">
                <h5>Contact Info:</h5>
                <p>Phone: 888-888-8888</p>
                <p>Email: <a href="mailto:guy-smiley@example.com">guy-smiley@example.com</a></p>
            </columns>
        </row>
    </wrapper>

</container>